</div>

<div id="bottomnav">

<div id="contactUs" class="show_mobile container">
	<div class="row">
		<strong>Contact Us</strong>
		<ul class="cf">
			<li class="cu2"><a href="tel:+1-800-238-0904">(800) 238-0904</a>			<li class="cu3"><a href="https://www.readingglasses.com/help.php?section=contactus&mode=update">Email</a>
		</ul>
	</div>
</div>
<footer class="container">
	<div id="footerLinks" class="row cf">
		<div class="group">
			<strong>My Account</strong> 
			<ul>
							<li><a href="https://www.readingglasses.com/error_message.php?need_login">Sign in</a>
				<li><a href="https://www.readingglasses.com/register.php">Register</a>
							<li><a href="https://www.readingglasses.com/repairs-and-returns/">Repairs &amp; returns</a>
			</ul>
		</div>
		
		<div class="group">		
			<strong>About Us</strong> 
			<ul>
				<li><a href="https://www.readingglasses.com/about-our-company/">Our story</a>
				<li><a href="https://www.readingglasses.com/help.php?section=contactus&mode=update">Contact</a>
				<li><a href="https://www.readingglasses.com/testimonials/">Testimonials</a>
								<li><a href="https://www.readingglasses.com/store-locator/">Store Locator</a>
								<li><a href="https://www.readingglasses.com/blog/">The Blog</a>
			</ul>
		</div>
		
		<div class="group">
			<strong>Help</strong> 
			<ul>
								<li><a href="https://www.readingglasses.com/our-guarantee/">Customer Delight Promise</a>
								<li><a href="https://www.readingglasses.com/primer-for-first-timers/">Primer for 1st Timers</a>
				<li><a href="https://www.readingglasses.com/privacy-and-security/">Privacy &amp; Security</a>
				<li><a href="https://www.readingglasses.com/knowledge-center/">Knowledge Center</a>
				<li><a href="https://www.readingglasses.com/accessibility/">Accessibility Policy</a>
				<li><a href="https://www.readingglasses.com/sitemap/">Site Map</a>
			</ul> 
		</div>
		
		<div class="group" id="customerService">
			<strong>Customer Service</strong> 
			<ul>
				<li>  <span class="avaiable"><a href='javascript:void(0);' onclick="zE.activate()">
      	Live Chat
  	  	  	</a></span>
				<li><a href="tel:+1-800-238-0904">(800) 238-0904</a>				<li><a href="https://www.readingglasses.com/repairs-and-returns/">Repairs &amp; Returns</a>
				<li><a href="https://www.readingglasses.com/shipping-info/">Shipping Info</a>
				<li><a href="https://www.readingglasses.com/customer-care/">Customer Care</a>
			</ul>
		</div>
		
		<div id="connectWithUs">
		  <strong>Follow Us</strong>
			<ul class="inline">
				<li><a href="https://www.instagram.com/readingglasses/" target="ig" class="ir instagram">Instagram</a>
				<li><a href="https://www.readingglasses.com/facebook/" target="fb" class="ir facebook">Facebook</a>
				<li><a href="https://www.readingglasses.com/twitter/" target="twt" class="ir twitter">Twitter</a>
				<li><a href="https://www.youtube.com/channel/UCPI8q16IFQt6VYP1tWT4mPQ" target="yt" class="ir youtube">YouTube</a>
			</ul>
      <strong>Accepted Payments</strong>
      <ul class="inline">
        <li><img alt="PayPal" 					src="https://www.readingglasses.com/assets/img/badges/PayPal.svg" 			width="48" height="30">
        <li><img alt="Amazon Pay" 			src="https://www.readingglasses.com/assets/img/badges/AmazonPay-v2.svg"	width="48" height="30">
        <li><img alt="Apple Pay" 				src="https://www.readingglasses.com/assets/img/badges/ApplePay.svg" 		width="48" height="30">
        <li><img alt="Google Pay" 			src="https://www.readingglasses.com/assets/img/badges/GooglePay.svg" 		width="48" height="30">
        <li><img alt="Visa" 						src="https://www.readingglasses.com/assets/img/badges/Visa.svg" 				width="48" height="30">
        <li><img alt="American Express"	src="https://www.readingglasses.com/assets/img/badges/AMEX.svg" 				width="48" height="30">		
        <li><img alt="Mastercard" 			src="https://www.readingglasses.com/assets/img/badges/Mastercard.svg" 	width="48" height="30">	
        <li><img alt="Discover" 				src="https://www.readingglasses.com/assets/img/badges/Discover.svg" 		width="48" height="30">			
      </ul>
		</div>
</div>
<div class="row">
<p class="hide_mobile">&copy;2008-2020 ReadingGlasses.com  All Rights Reserved
</div>
<div class="row show_mobile">
<p>&copy;2008-2020 ReadingGlasses.com  All Rights Reserved
</div>
		<div id="GTS_CONTAINER"></div>
		
</div>
