abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #777;
}

.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

blockquote {
	font-size: 20px;
	margin: 0 0 22px;
	padding: 11px 22px;
	border-left: 5px solid #d0d0d0;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
	margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
	font-size: 80%;
	line-height: 1.42857143;
	display: block;
	color: #777;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
	content: '\2014 \00A0';
}

.blockquote-reverse,
blockquote.pull-right {
	padding-right: 15px;
	padding-left: 0;
	text-align: right;
	border-right: 5px solid #d0d0d0;
	border-left: 0;
}

.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
	content: '';
}

.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
	content: '\00A0 \2014';
}

address {
	font-style: normal;
	line-height: 1.42857143;
	margin-bottom: 22px;
}

code,
kbd,
pre,
samp {
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code {
	font-size: 90%;
	padding: 2px 4px;
	color: #c7254e;
	border-radius: 4px;
	background-color: #f9f2f4;
}

kbd {
	font-size: 90%;
	padding: 2px 4px;
	color: #fff;
	border-radius: 3px;
	background-color: #333;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
	        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}

kbd kbd {
	font-size: 100%;
	font-weight: bold;
	padding: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

pre {
	font-size: 15px;
	line-height: 1.42857143;
	display: block;
	margin: 0 0 11px;
	padding: 10.5px;
	word-wrap: break-word;
	word-break: break-all;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f5f5f5;
}

pre code {
	font-size: inherit;
	padding: 0;
	white-space: pre-wrap;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
}

.pre-scrollable {
	overflow-y: scroll;
	max-height: 340px;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: left;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-11 {
	width: 91.66666667%;
}

.col-xs-10 {
	width: 83.33333333%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-8 {
	width: 66.66666667%;
}

.col-xs-7 {
	width: 58.33333333%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-5 {
	width: 41.66666667%;
}

.col-xs-4 {
	width: 33.33333333%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-2 {
	width: 16.66666667%;
}

.col-xs-1 {
	width: 8.33333333%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-pull-11 {
	right: 91.66666667%;
}

.col-xs-pull-10 {
	right: 83.33333333%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-8 {
	right: 66.66666667%;
}

.col-xs-pull-7 {
	right: 58.33333333%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-5 {
	right: 41.66666667%;
}

.col-xs-pull-4 {
	right: 33.33333333%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-2 {
	right: 16.66666667%;
}

.col-xs-pull-1 {
	right: 8.33333333%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-push-11 {
	left: 91.66666667%;
}

.col-xs-push-10 {
	left: 83.33333333%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-8 {
	left: 66.66666667%;
}

.col-xs-push-7 {
	left: 58.33333333%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-5 {
	left: 41.66666667%;
}

.col-xs-push-4 {
	left: 33.33333333%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-2 {
	left: 16.66666667%;
}

.col-xs-push-1 {
	left: 8.33333333%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

.col-xs-offset-11 {
	margin-left: 91.66666667%;
}

.col-xs-offset-10 {
	margin-left: 83.33333333%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-8 {
	margin-left: 66.66666667%;
}

.col-xs-offset-7 {
	margin-left: 58.33333333%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-5 {
	margin-left: 41.66666667%;
}

.col-xs-offset-4 {
	margin-left: 33.33333333%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-2 {
	margin-left: 16.66666667%;
}

.col-xs-offset-1 {
	margin-left: 8.33333333%;
}

.col-xs-offset-0 {
	margin-left: 0;
}

table {
	background-color: '';
}

caption {
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	color: #777;
}

th {
	text-align: left;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 22px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	line-height: 1.42857143;
	padding: 8px;
	vertical-align: top;
	border-top: 1px solid #d0d0d0;
}

.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #d0d0d0;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
	border-top: 0;
}

.table > tbody + tbody {
	border-top: 2px solid #d0d0d0;
}

.table .table {
	background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 5px;
}

.table-bordered {
	border: 1px solid #d0d0d0;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid #d0d0d0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #eee;
}

.table-hover > tbody > tr:hover {
	background-color: '';
}

table col[class*='col-'] {
	position: static;
	display: table-column;
	float: none;
}

table td[class*='col-'],
table th[class*='col-'] {
	position: static;
	display: table-cell;
	float: none;
}

.table-responsive {
	overflow-x: auto;
	min-height: .01%;
}

.fade {
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear;
	opacity: 0;
}

.fade.in {
	opacity: 1;
}

.collapse {
	display: none;
}

.collapse.in {
	display: block;
}

tr.collapse.in {
	display: table-row;
}

tbody.collapse.in {
	display: table-row-group;
}

.collapsing {
	position: relative;
	overflow: hidden;
	height: 0;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	transition-duration: .35s;
	-webkit-transition-property: height, visibility;
	transition-property: height, visibility;
}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.nav > li {
	position: relative;
	display: block;
}

.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #eee;
}

.nav > li.disabled > a {
	color: #777;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
	cursor: not-allowed;
	text-decoration: none;
	color: #777;
	background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	border-color: #3a3a3a;
	background-color: #eee;
}

.nav .nav-divider {
	overflow: hidden;
	height: 1px;
	margin: 10px 0;
	background-color: #e5e5e5;
}

.nav > li > a > img {
	max-width: none;
}

.nav-justified {
	width: 100%;
}

.nav-justified > li {
	float: none;
}

.nav-justified > li > a {
	margin-bottom: 5px;
	text-align: center;
}

.nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto;
}

.nav-tabs-justified {
	border-bottom: 0;
}

.nav-tabs-justified > li > a {
	margin-right: 0;
	border-radius: 4px;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
	border: 1px solid #ddd;
}

.tab-content > .tab-pane {
	display: none;
}

.tab-content > .active {
	display: block;
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 22px;
	border: 1px solid transparent;
}

.navbar-collapse {
	overflow-x: visible;
	padding-right: 15px;
	padding-left: 15px;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	-webkit-overflow-scrolling: touch;
}

.navbar-collapse.in {
	overflow-y: auto;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
	max-height: 340px;
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	padding: 9px 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: transparent;
	background-image: none;
}

.navbar-toggle:focus {
	outline: 0;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

.navbar-nav {
	margin: 7px -15px;
}

.navbar-nav > li > a {
	line-height: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.embed-responsive {
	position: relative;
	display: block;
	overflow: hidden;
	height: 0;
	padding: 0;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
	padding-bottom: 75%;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
	display: table;
	content: ' ';
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
	clear: both;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	border: 0;
	background-color: transparent;
	text-shadow: none;
}

.hidden {
	display: none !important;
}

.affix {
	position: fixed;
}

@-ms-viewport {
	width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
	display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
	display: none !important;
}

.visible-print {
	display: none !important;
}

.visible-print-block {
	display: none !important;
}

.visible-print-inline {
	display: none !important;
}

.visible-print-inline-block {
	display: none !important;
}

/*
+ ================================================
Font Awesome (4.7.0)
+ ================================================
*/

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

/* FONT PATH
 * -------------------------- */

@font-face {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

.fa {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */

.fa-lg {
	font-size: 1.33333333em;
	line-height: .75em;
	vertical-align: -15%;
}

.fa-2x {
	font-size: 2em;
}

.fa-3x {
	font-size: 3em;
}

.fa-4x {
	font-size: 4em;
}

.fa-5x {
	font-size: 5em;
}

.fa-fw {
	width: 1.28571429em;
	text-align: center;
}

.fa-ul {
	margin-left: 2.14285714em;
	padding-left: 0;
	list-style-type: none;
}

.fa-ul > li {
	position: relative;
}

.fa-li {
	position: absolute;
	top: .14285714em;
	left: -2.14285714em;
	width: 2.14285714em;
	text-align: center;
}

.fa-li.fa-lg {
	left: -1.85714286em;
}

.fa-border {
	padding: .2em .25em .15em;
	border: solid .08em #eee;
	border-radius: .1em;
}

.fa-pull-left {
	float: left;
}

.fa-pull-right {
	float: right;
}

.fa.fa-pull-left {
	margin-right: .3em;
}

.fa.fa-pull-right {
	margin-left: .3em;
}

/* Deprecated as of 4.4.0 */

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.fa.pull-left {
	margin-right: .3em;
}

.fa.pull-right {
	margin-left: .3em;
}

.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8);
}

.fa-rotate-90 {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=1)';
}

.fa-rotate-180 {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=2)';
}

.fa-rotate-270 {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=3)';
}

.fa-flip-horizontal {
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)';
}

.fa-flip-vertical {
	-webkit-transform: scale(1, -1);
	transform: scale(1, -1);
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)';
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
	-webkit-filter: none;
	        filter: none;
}

.fa-stack {
	line-height: 2em;
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}

.fa-stack-1x {
	line-height: inherit;
}

.fa-stack-2x {
	font-size: 2em;
}

.fa-inverse {
	color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.fa-search:before {
	content: '\f002';
}

.fa-heart:before {
	content: '\f004';
}

.fa-check:before {
	content: '\f00c';
}

.fa-remove:before,
.fa-close:before,
.fa-home:before {
	content: '\f015';
}

.fa-chevron-left:before {
	content: '\f053';
}

.fa-chevron-right:before {
	content: '\f054';
}

.fa-plus:before {
	content: '\f067';
}

.fa-minus:before {
	content: '\f068';
}

.fa-chevron-up:before {
	content: '\f077';
}

.fa-chevron-down:before {
	content: '\f078';
}

.fa-upload:before {
	content: '\f093';
}

.fa-phone:before {
	content: '\f095';
}

.fa-arrow-circle-left:before {
	content: '\f0a8';
}

.fa-arrow-circle-right:before {
	content: '\f0a9';
}

.fa-bars:before {
	content: '\f0c9';
}

.fa-comment-o:before {
	content: '\f0e5';
}

.fa-angle-left:before {
	content: '\f104';
}

.fa-angle-right:before {
	content: '\f105';
}

.fa-angle-up:before {
	content: '\f106';
}

.fa-angle-down:before {
	content: '\f107';
}

.fa-circle-o:before {
	content: '\f10c';
}

.fa-spinner:before {
	content: '\f110';
}

.fa-long-arrow-right:before {
	content: '\f178';
}

.fa-support:before,
.fa-life-ring:before {
	content: '\f1cd';
}

.sr-only {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
}

/*
+ ================================================
Hover Style
+ ================================================
*/

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.2.0
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */

/* Underline Reveal */

.hvr-underline-reveal,
#user .dropdown-toggle {
	position: relative;
	display: inline-block;
	overflow: hidden;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	vertical-align: middle;
	-webkit-box-shadow: 0 0 1px transparent;
	        box-shadow: 0 0 1px transparent;
}

.hvr-underline-reveal:before,
#user .dropdown-toggle:before {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
	left: 0;
	height: 6px;
	content: '';
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
	background: #ff5a00;
}

.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before,
#user .dropdown-toggle:hover:before,
#user .dropdown-toggle:focus:before,
#user .dropdown-toggle:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

/*
+ ================================================
SmartMenus Core CSS
+ ================================================
*/

/* Mobile first layout SmartMenus Core CSS (it's not recommended editing these rules)
   You need this once per page no matter how many menu trees or different themes you use.
-------------------------------------------------------------------------------------------*/

.sm {
	position: relative;
	z-index: 9999;
}

.sm,
.sm ul,
.sm li {
	line-height: normal;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
	direction: ltr;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sm-rtl,
.sm-rtl ul,
.sm-rtl li {
	text-align: right;
	direction: rtl;
}

.sm > li > h1,
.sm > li > h2,
.sm > li > h3,
.sm > li > h4,
.sm > li > h5,
.sm > li > h6 {
	margin: 0;
	padding: 0;
}

.sm ul {
	display: none;
}

.sm li,
.sm a {
	position: relative;
}

.sm a {
	display: block;
}

.sm a.disabled {
	cursor: not-allowed;
}

.sm:after {
	font: 0/0 serif;
	display: block;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	height: 0;
	content: '\00a0';
}

.sm,
.sm *,
.sm *:before,
.sm *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

